<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Page</title>
</head>
<body>
    <h1>Welcome to Food Page!</h1>

    <h3>Please Fill the Information Below.</h3>
    <form method = 'post'>
        <label>Selected Restaurant:</label><br>
        <input name='select_restaurant' value= {{restaurant_name}} readonly><hr>
        <label>Please Enter the Meal Name.</label><br>
        <input name = 'meal' id = 'meal' placeholder = "Meal Name" autofocus><br><br>
        <button type="submit">Add Meal</button>
        <hr>
    </form>
</body>
</html>