<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Page</title>
</head>
<body>
    <h1>Welcome to Food Page!</h1>
    <h3>Please Fill the Information Below.</h3>
    <label>Please Enter the Restaurant Name.</label><br>
    <form method = 'post'>
        <input name = 'restaurant' id = 'restaurant' placeholder = "Restaurant Name" autofocus><br><br>
        <button type="submit">Search Restaurant</button> <!--button type has to be submit-->
        <!--有 button（單純按鈕）、reset（清空表單）、submit（送出表單）-->
    </form>
    <hr>
</body>
</html>