<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <!--Header-->
    <h1>Hi {{user}},<br> Welcome to the Nutrition Intaken Calculator</h1>

    <!--User Information-->
    <h3>Please Fill the Information Below.</h3>
    <label>Please Enter Your Weight.</label><br>
    <input id='weight' placeholder="KG" autofocus>kg<br><br>
    <label>Please Select Your Acitivity Level.</label><br>
    <select id= 'activity_level'>  
        <option value = "Default"> Acitivity Level
        </option>  
        <option value = "A"> Light
        </option>  
        <option value = "B"> Medium
        </option>  
        <option value = "C"> Heavy  
        </option>  
    </select><br><br>
    <label>Please Select Your Diet Purpose.</label><br>
    <select id = 'purpose'>  
        <option value = "Default"> Diet Purpose
        </option>  
        <option value = "A"> Gain Weight
        </option>  
        <option value = "B"> Keep Weight
        </option>  
        <option value = "C"> Loss Weight 
        </option>  
    </select><br><br>
    <button onclick=goal_calculate_trigger()>Calculate</button><hr>

    <!--Goal-->
    <form method ="POST"> <!--all the inputs should be put under form then can be passed-->
        <h3>Your Daily Target Goal of Nutrition Intaken</h3>
        <label>Target Calories.</label><br>
        <input name = "target_calories" id = "target_calories" readonly>kal<br><br>
        <label>Target Proteins.</label><br>
        <input name = "target_proteins" id = "target_proteins" readonly>g<br><br>
        <label>Target Fat.</label><br>
        <input name = "target_fat" id = "target_fat" readonly>g<br><br>
        <label>Target Carbs.</label><br>
        <input name = "target_carbs" id = "target_carbs" readonly>g<br><br>
        <button id='next'>Next</button>
    </form>

    <script type="text/javascript" src='../static/js/home.js'></script>
</body>
</html>